<?xml version="1.0" encoding="utf-8"?>
<configdata>
    <pages>
        <page path="/media"     engine="media" validate_url="false" />
        <page path="/assets"    engine="media" validate_url="false" />
    </pages>
    <engine>
        <media source="(.*)" obj="phpformsframework\libs\storage\Media" method="get" params="$1" />
    </engine>
    <dirs>
        <dir type="cache" path="/cache/.thumbs" />
        <dir type="cache" path="/cache/assets" />
        <dir type="app" path="/uploads" />

        <dir type="asset" path="[LIBS_PATH]/phpformsframework/libs/assets/common" scan="common" />
        <dir type="asset" path="[LIBS_PATH]/phpformsframework/libs/assets/css" scan="css" />
        <dir type="asset" path="[LIBS_PATH]/phpformsframework/libs/assets/email" scan="email" />
        <dir type="asset" path="[LIBS_PATH]/phpformsframework/libs/assets/fonts" scan="fonts" />
        <dir type="asset" path="[LIBS_PATH]/phpformsframework/libs/assets/images" scan="images" />
        <dir type="asset" path="[LIBS_PATH]/phpformsframework/libs/assets/js" scan="js" />
        <dir type="asset" path="[LIBS_PATH]/phpformsframework/libs/assets/layouts" scan="layouts" />
        <dir type="asset" path="[LIBS_PATH]/phpformsframework/libs/assets/widgets" scan="widgets" />
        <dir type="asset" path="[LIBS_PATH]/phpformsframework/libs/assets/xml" scan="xml" />
    </dirs>
</configdata>